<div id="waveformDiv" #waveformDiv></div>
<ng-container *ngIf="analyserService.waveSurfer">
  <mat-toolbar class="controls">
    <button mat-button (click)="analyserService.waveSurfer.skipBackward()"><mat-icon>fast_rewind</mat-icon></button>
    <button mat-button (click)="analyserService.waveSurfer.playPause()">
      <mat-icon *ngIf="!analyserService.waveSurfer.isPlaying(); else pauseIcon">play_arrow</mat-icon>
      <ng-template #pauseIcon>
        <mat-icon>pause</mat-icon>
      </ng-template>
    </button>
    <button mat-button (click)="analyserService.waveSurfer.skipForward()"><mat-icon>fast_forward</mat-icon></button>
    <button mat-button (click)="analyserService.waveSurfer.setMute(!analyserService.waveSurfer.getMute())">
      <mat-icon *ngIf="!analyserService.waveSurfer.getMute(); else unmuteIcon">volume_off</mat-icon>
      <ng-template #unmuteIcon>
        <mat-icon>volume_up</mat-icon>
      </ng-template>
    </button>
  </mat-toolbar>
</ng-container>
