<div class="center">
  <h1>
    Genre Analyser
  </h1>
  <button mat-raised-button type="button" (click)="audioFile.click()">Select Audio File</button>
  <input hidden type="file" id="audioFile" #audioFile (change)="audioChange()" accept="audio/*"/>
  <br/>
  <audio hidden id="audioPlayer" #audioPlayer></audio>
</div>
<strong>The name of the song:&nbsp;&nbsp;{{analyserService.audioName}}</strong> 
<div class="mt-1">
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
      <app-waveform-visualizer></app-waveform-visualizer>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-frequency-visualizer></app-frequency-visualizer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<button mat-raised-button class="standard-button" (click)="uploadFile()">Upload File</button>
<!-- <nz-progress [nzPercent]="30"></nz-progress> -->
<div *ngIf="flag">
  <div echarts [options]="chartOption"></div>
</div>
<br>
<br>
<!-- <app-echart-visualizer></app-echart-visualizer> -->